import(yarrr, raster, plyr, fields, foreach)
importFrom(MASS, bandwidth.nrd, kde2d)
importFrom(randomForest, randomForest)
importFrom(rgenoud, genoud)
importFrom(mgcv, gam)
importFrom(lhs, randomLHS)
importFrom(classInt, classIntervals)
importFrom(quantreg, rq)
importFrom(plotrix, boxed.labels)
importFrom("grDevices", "colorRampPalette", "dev.off", "pdf", "col2rgb", "colorRampPalette", "grey",
             "nclass.Sturges", "rgb")
importFrom("graphics", "abline", "axis", "box", "legend", "mtext",
             "par", "plot.new", "points", "segments")
importFrom("stats", "coefficients", "complete.cases", "cor",
   "cor.test", "formula", "ks.test", "lm", "median", "na.omit",
   "optim", "qunif", "runif", "sd", "smooth.spline")
importFrom("utils", "read.table", "write.table")

exportPattern("^[[:alpha:]]+")

S3method("plot", "ObjFct")
S3method("predict", "FitLogistic")
S3method("print", "ObjFct")
