import(strucchange, raster, plyr, zoo)
importFrom(Kendall, MannKendall)
importFrom(bfast, bfastpp)
importFrom(phenopix, greenProcess)
importFrom(quantreg, rq)
importFrom(parallel, makeCluster, clusterEvalQ, clusterExport, clusterApply, stopCluster)
importFrom(grDevices, col2rgb, colorRampPalette, palette, rgb)
importFrom("graphics", "abline", "axis", "box", "legend", "mtext",
             "par", "points", "polygon", "segments")
importFrom("stats", "BIC", "IQR", "addmargins", "approx", "coef",
             "confint", "cor", "cycle", "end", "frequency", "kmeans",
             "lag", "lm", "median", "na.omit", "na.pass", "optim",
             "rnorm", "runmed", "sd", "smooth.spline", "spec.pgram",
             "start", "stl", "symnum", "time", "ts", "ts.intersect",
             "ts.union", "tsp", "tsp<-", "var", "wilcox.test", "window")

exportPattern("^[[:alpha:]]+")

S3method("plot", "CompareClassification")
S3method("plot", "Phenology")
S3method("plot", "PhenopixMY")
S3method("plot", "Trend")
S3method("plot", "TrendGradient")
S3method("plot", "TrendSample")
S3method("print", "Phenology")
S3method("print", "Trend")
